/* HP CSS */

body {
	
}

#nav {
	margin:0;
	padding:0;
	width:100%;
}

#nav li {
	display:inline;
	padding:0;
	margin:0;
}

#nav li:first-child a {
border-left:2px solid gray;
}

#nav a:link,
#nav a:visited {
color:#000;
padding:20px 40px 4px 10px;
float:left;
width:auto;
}

.jumbotron {
	position: relative;
	background: #000 url("https://scontent.ford1-1.fna.fbcdn.net/hphotos-xfa1/v/t1.0-9/427240_10100387398956236_872767422_n.jpg?oh=0f7e7c7be97a8a41ecf31b3b4653ee97&oe=57112432") center center;
	text-align: left;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
}

.jumbotron h1 {
	color: white;
}

.jumbotron a {
	color: white;
}

#FamilyPanel {   
    width: 540px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#FamilyPanel a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}
/* img src url https://scontent.ford1-1.fna.fbcdn.net/hphotos-xfa1/v/t1.0-9/427240_10100387398956236_872767422_n.jpg?oh=0f7e7c7be97a8a41ecf31b3b4653ee97&oe=57112432 */
